{% extends "flagging/base_flagging.html" %}


{% block title %}Flagged items{% endblock %}
{% block body_class %}{{ block.super }} flag_list{% endblock %}


{% block content_title %}
  <h2>{{ flag_type.title }}</h2>
  <p>{{ flag_type.description }}</p>
{% endblock %}


{% block content %}
  <div class="list">
    {% for flag in flag_list %}
      <div class="item">
        <h3><a href="{{ flag.object.get_absolute_url }}">{{ flag.object }}</a></h3>
      </div>
    {% endfor %}
  </div>
{% endblock %}