{% extends "groups/base_groups.html" %}


{% block title %}Topics{% endblock %}
{% block body_class %}{{ block.super }} topics topic_list{% endblock %}


{% block group_title %}/ Topics{% endblock %}


{% block content %}
  {% load groups %}

  {% if topic_list %}
    <div class="list">
      {% for topic in topic_list %}
        <div class="item">
          <h5><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h5>
          <p>{{ topic.description|truncatewords:"30"|striptags }}</p>
          <p class="byline">Posted by <a href="{{ topic.user.get_absolute_url }}">{{ topic.user.username }}</a> on {{ topic.created|timesince }} ago.
            {% if topic.user == user %}<a class="edit" href="{{ topic.get_edit_url }}">Edit</a>{% endif %}</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if group|is_member:user %}
    <p><a class="button" href="{% url groups:topic_create group.slug %}?next={{ request.path }}">Start a topic</a></p>
  {% endif %}
{% endblock %}