{% extends "groups/base_groups.html" %}


{% block title %}Create a topic{% endblock %}
{% block body_class %}{{ block.super }} topics topic_form{% endblock %}


{% block content_title %}
  <h2>Create a topic</h2>
{% endblock %}


{% block content %}
  {% load stringutils %}

  <form action="." method="post">{% csrf_token %}
    {% for field in form %}
      {{ field|format_field }}
    {% endfor %}
    <p class="submit">
      <button type="submit" name="submit" value="Create topic">{% if topic %}Save{% else %}Post{% endif %} topic</button>
      {% if request.GET.next %}<a class="cancel" href="{{ request.GET.next }}">Cancel</a>{% endif %}
    </p>
  </form>
{% endblock %}