{% extends "groups/base_groups.html" %}


{% block title %}Topics{% endblock %}
{% block body_class %}{{ block.super }} topics topic_list{% endblock %}


{% block content_title %}
  <h2>Recent topics</h2>
{% endblock %}


{% block content %}
  <p><a href="{% url groups:topic_create group.slug %}?next={{ request.path }}">Start a topic</a></p>

  {% if topic_list %}
    <div class="list">
      {% for topic in topic_list %}
        <div class="item">
          <h5><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h5>
          <p>{{ topic.description|truncatewords:"30"|striptags }}</p>
          <p class="datetime">Posted by <a href="{{ topic.user.get_absolute_url }}">{{ topic.user.username }}</a> on {{ topic.created|date }}</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}