{% extends "relationships/base_relationships.html" %}


{% block title %}{{ block.super }} | Block remove confirm{% endblock %}
{% block body_class %}{{ block.super }} block_delete_confirm{% endblock %}


{% block content_title %}
  <h2>Stop blocking {{ user_to_block }}?</h2>
{% endblock %}


{% block content %}
  <form action="{% url relationship_unblock username=user_to_block.username %}{% if next %}?next={{ next }}{% endif %}" method="post">{% csrf_token %}
    <p>Are you sure you want to stop blocking {{ user_to_block }}?
      <button type="submit" name="submit" value="Indeed">Indeed</button></p>
  </form>
{% endblock %}