{% extends "relationships/base_relationships.html" %}


{% block title %}{{ block.super }} | Block confirm{% endblock %}
{% block body_class %}{{ block.super }} block_confirm{% endblock %}


{% block content_title %}
  <h2>Block {{ user_to_block }}</h2>
{% endblock %}


{% block content %}
  <form action="{% url relationship_block username=user_to_block.username %}" method="post">{% csrf_token %}
    <p>Are you sure you want to block {{ user_to_block }}?
      <button type="submit" name="submit" value="Indeed">Indeed</button></p>
  </form>
{% endblock %}