{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{% trans "Post categories" %}{% endblock %}
{% block body_class %}{{ block.super }} category_list{% endblock %}


{% block content_title %}
  <h2>{% trans "Post categories" %}</h2>
{% endblock %}


{% block content %}
  <ul class="link_list">
    {% for category in object_list %}
    <li><a href="{{ category.get_absolute_url }}" title="{% trans "View posts in this category" %}">{{ category }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}