{% extends "messages/base_messages.html" %}


{% block title %}{{ mailbox|title }} messages{% endblock %}
{% block body_class %}{{ block.super }} message_list{% endblock %}


{% block content_title %}
  <h2>{{ mailbox|title }} messages</h2>
{% endblock %}


{% block content %}
  <ul>
    {% for message in message_list %}
      {% if mailbox == 'sent' %}
        <li><small class="status">{{ message.get_from_status_display }}</small>
          <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></li>
      {% else %}
        <li><small class="status">{{ message.get_to_status_display }}</small>
          <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <p><a href="{% url messages:create %}" class="button">Compose message</a></p>
{% endblock %}