{% extends "groups/base_groups.html" %}


{% block title %}Members{% endblock %}
{% block body_class %}{{ block.super }} group_members{% endblock %}


{% block group_title %}/ Members{% endblock %}


{% block content %}
  {% load groups %}

  {% if member_list %}
    <ul>
      {% for member in member_list %}
        <li><a href="{{ member.user.get_absolute_url }}">{{ member.user.username }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if group|is_member:user %}
    <p><a class="button" href="{% url groups:invite group.slug %}?next={{ request.path }}">Invite someone</a></p>
  {% endif %}
{% endblock %}