.ac_results { margin-top: 2px; padding: 5px; background-color: #fff; border: 1px solid #ccc; -webkit-box-shadow: rgba(0, 0, 0, .2) 2px 2px 3px; -moz-box-shadow: @opacity_40 0 0 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.ac_results ul { list-style: none; margin: 0; padding: 0; font-size: 14px; line-height: 20px; color: #555; }
.ac_results li { padding: 3px 5px; }
.ac_results .ac_over { background-color: #fff999; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.ac_result { display: block; margin-top: 1px; padding: 5px 10px; background-color: #eee; font-size: 12px; line-height: 16px; color: #fff;
  background: -webkit-gradient(linear, center top, center bottom, from(#777), to(#555));
  background: -moz-linear-gradient(top center, #777, #666);
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.ac_result a { margin-right: 10px; color: #999; }
.ac_result a:hover { color: #ddd; text-decoration: none; }
